:root {
  --text-color: #edecec;
  --bg-color: #14120b;
  --font-size: 1.625rem;
  --sub-bg-color: #1b1913;

  /* For buttons */
  --btn-border: 1px solid color-mix(in oklab, #edecec 20%, transparent);
  --btn-radius: 50rem;
  --btn-font-size: 0.875rem;
  --btn-hover-black: #26251eeb;
  --btn-hover-white: #d7d6d5;

  --btn-pad-y: 0.35rem;
  --btn-pad-x: 0.65625rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Navbar Styling */

header {
  position: fixed;
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  padding: 0 1rem;
  z-index: 2;
  font-family: CursorGothic;
}

#nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 3.25rem;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  grid-column: -5;
}

#nav-links {
  grid-column: span 3;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

#nav-cta {
  grid-column: -1;
  display: flex;
  gap: 10px;
}

.links {
  text-decoration: none;
  color: var(--text-color);
  font-size: calc(var(--font-size) * 0.538);
  padding: 0.35rem 0.9375rem;
}

.cta-links {
  border: var(--btn-border);
  background-color: #0000;
  border-radius: var(--btn-radius);
  padding: var(--btn-pad-y) var(--btn-pad-x);
}

.links:hover {
  color: var(--btn-hover-white);
}

#sign-in:hover {
  background-color: var(--btn-hover-black);
}

#down-load:hover {
  background-color: var(--btn-hover-white);
}

#down-load {
  background-color: var(--text-color);
  color: var(--bg-color);
}

/* Navbar Styling end */

/* Main Styling */

#main {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  font-family: CursorGothic;
}

.section {
  padding-bottom: 3rem;
}

/* Main -> Section 1 styling */

#section-1 {
  padding: 9.0625rem 1.171875rem 5.9rem;
}

.left h1 {
  font-size: var(--font-size);
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -0.0125em;
  text-wrap: balance;
  margin-bottom: 22.4px;
  width: 37.5rem;
}

.left div {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  border: var(--btn-border);
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-radius);
  background-color: var(--text-color);
  font-weight: 400;
  margin-bottom: calc(1rem * 1.4 * 2.5);
}

.main-cta a {
  text-decoration: none;
  color: var(--bg-color);
}

.main-cta:hover {
  background-color: var(--btn-hover-white);
}

.right {
  position: relative;
}

#scenary {
  position: relative;

  z-index: 0;
}

#cursor-img {
  position: absolute;
  top: 1.25rem;
  left: 2.8125rem;
  z-index: 1;
  width: 90%;
  height: 90%;
}

#cursor-agent-image {
  width: 330px;
  height: 320px;
  position: absolute;
  right: 0.625rem;
  bottom: 1.875rem;
  z-index: 1;
}

/* Main -> Section2 styling */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--btn-pad-y) var(--btn-pad-x);
}

#logo-garden {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
  gap: calc(calc(10rem / 16) * 1);
  margin-top: calc(1rem * 1.4);
  width: 100%;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  border: var(--btn-border);
  border-radius: 4px;
  color: var(--text-color);
  font-size: var(--font-size);
  background-color: var(--sub-bg-color);
  padding: 7.5px;
}

.logo-img {
  width: 100px;
  height: 6.25rem;
  color: transparent;
}

/* Main -> Section 3 Styling */

.section3 {
  padding: calc(var(--btn-pad-y) * 1.4) calc(var(--btn-pad-x) * 3.9);
}

.container3 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  background-color: var(--sub-bg-color);
  border-radius: 0.5rem;
}

.sub-conatiner-left {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: var(--btn-pad-y) var(--btn-pad-x);
  line-height: 1.5;
}

.section-text {
  color: #edecec99;
}

.learn-agent {
  color: #f54e00;
  font-size: calc(var(--font-size) * 0.525);
  line-height: 3.5;
}

.sub-conatiner-right {
  grid-column: span 8;
  padding: calc(var(--btn-pad-y) * 2.9) calc(var(--btn-pad-x) * 2.1);
  /* position: relative; */
  width: 100%;
  height: 100%;
}

.section3-bg-image {
  width: 100%;
  height: 90%;
}

#section3-bg-image {
  position: relative;
  z-index: 0;
}

.section3-cursor-img {
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 90%;
  top: 20px;
  left: 50px;
}

.section3-cursor-img-small {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 300px;
  bottom: 20px;
  right: 50px;
}

.sub-section {
  margin: 4rem 0;
}

/* Main -> Section4 Styling */

.section4 {
  padding: calc(var(--btn-pad-y) * 1.4) calc(var(--btn-pad-x) * 3.9);
}

.container4 div h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: var(--font-size);
}

.card-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: calc(var(--btn-pad-y) * 1.4) calc(var(--btn-pad-x) * 3.9);
  gap: 1rem;
}

.card {
  background-color: var(--sub-bg-color);
  height: 18rem;
  padding-top: var(--btn-pad-x);
  padding-bottom: var(--btn-pad-y);
  color: var(--text-color);
}

.card figure {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: var(--btn-pad-y) var(--btn-pad-x);
  height: 100%;
}

.card figure blockquote {
  grid-row: span -1;
}

.icon {
  width: 40px;
  height: 40px;
}

.card-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.card-flex figcaption {
  padding-left: 10px;
  font-size: 0.8rem;
  line-height: 1.5;
}

.card-flex figcaption span {
  color: #edecec99;
}

/* Main -> Section 5 Styling */
